body {
  font-family: "Avenir Next";
}
.hrader{
 background-color: #00bfff
}
.logo1 {
  color: #ffffff;
  padding: 40px 50px 20px 10px;
  background-color: #00bfff;
  float: left;
}
.header-list li {
  list-style: none;
  float: left;
  padding: 40px 0px 20px 50px;
  color: 7fffd4;
  background-color: #00bfff;
}
from{
  padding: 300px 0px 0px 50px;
}
.logo2{
  padding: 0px 400px 100px 0px;
  float: left;
}
.fotter-list li {
  list-style: none;
  float: right;
  padding: 0px 50px 10px 10px;
}
